body::before {
    display: block;
    content: '';
    height: 60px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.roles {
    font-size: 30px;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
}

.roles div {
    height: 50px;
    -webkit-transition: margin-top 1s ease-in-out;
    -moz-transition: margin-top 1s ease-in-out;
    -o-transition: margin-top 1s ease-in-out;
    transition: margin-top 1s ease-in-out;
}